@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 5px; /* Ancho de la barra */
  background-color: #f5f5f5; /* Color de fondo de la barra */
}

/* Estilos para el pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
  border-radius: 10px; /* Borde redondeado del pulgar */
}

/* Estilos para el pulgar al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b; /* Color del pulgar al pasar el mouse */
}

/* Estilos para la pista de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: #f5f5f5; /* Color de fondo de la pista */
}

/*Estilos por defecto*/
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
